
@{
    ViewData["Title"] = "Contact";
}
<img src="~/images/Contact.jpg" alt="公司名片" title="公司名片" style="border:3px black solid ;" width="250">
<h2>聯絡我們</h2>
<p>聯絡人：呂宜學（哈密瓜）</p>
<p>電話：0928-621157、0931-663866</p>
<p>地址：524 彰化縣溪州鄉菜公村民生路一段578號</p>
<p>FaceBook粉絲專頁:<a href="https://www.facebook.com/%E7%94%B3%E5%AE%9C%E5%B7%A5%E7%A8%8B%E6%9C%89%E9%99%90%E5%85%AC%E5%8F%B8-1577133189197319/">申宜工程有限公司</a></p>

